################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPIDemo
/WebAPIDbConnect
/WebApi
/StandAloneWebApi
/packages
/.vs
